<div class="form-container">
    <form [formGroup]="customerForm">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input type="hidden" [(ngModel)]="model.customerID" [ngModelOptions]="{standalone: true}">
            <input matInput [(ngModel)]="model.firstName" formControlName="fname" maxlength="100" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput [(ngModel)]="model.middleName" formControlName="mname" maxlength="100">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="model.lastName" formControlName="lname" maxlength="100" required>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" class="birthdate-datepicker">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="model.birthdate" formControlName="bdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input type="number" matInput [(ngModel)]="model.age" formControlName="age" maxlength="3" required>
        </mat-form-field>
    </form>
    <div class="button-row">
        <app-button (click)="onSaveCustomer()" disabled={{customerForm.invalid}} color="{{'primary'}}" text="{{'Save'}}"></app-button>
    </div>
    <div class="button-row">
        <app-button text="{{'Clear'}}" (click)="onClearForm();"></app-button>
    </div>
</div>
